/* carousel */
#1234{
    padding-bottom: 10px;
}
.carousel-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.carousel-indicators{
    bottom: 20px;
}
.carousel-indicators li{
    width: 10px ;
    height: 10px;
    border-radius: 100%;
}
/*.carousel-control-next-icon {*/
    /*margin-right: 180px;*/
/*}*/
/*.carousel-control-prev-icon {*/
    /*margin-left: 180px;*/
/*}*/
.carousel-control-next-icon,
.carousel-control-prev-icon{
    width: 15%;
    height: 50px;
    background-color: #00000000;
}
.carousel-control-next{
    margin-right: 1%;
}
.carousel-control-prev{
    margin-left:  1%;
}