.pull-bottom{
    bottom:0;
    position: absolute;
}

.carousel .slide{
    background: white;
}

#suggestion{
    color: #c60;
    background: white;
    font-size: 20px;
    font-family: verdana,arial,helvetica,sans-serif!important;
    font-weight: 700;
}

#linkButton{
    border-radius: 20px;
    background: white;
}
#sImages{
    object-fit: contain;
}
#pImages{
    object-fit: contain;
}

#YuAdded{
    object-fit: contain;
}