body {
    font-family: Arial !important;
    font-weight: lighter;
    font-size: 12px;
}

.header{
    color: black;
}
.pass{
    color: silver;
}
.shop{

}
.header{
    display: flex;
    align-items: center;
    padding-left: 150px;

}
